body {
    background-color: white;
    color: black;
    font-family: 'Open Sans';
}

h1 {
    text-align: center;
    font-size: 40px;
}

h1>i.fa-gamepad {
    /*El estilo del icono del título*/
    font-size: 40px;
    color: red;
}

#tipoJuego {
    visibility: visible;
    margin-left: auto;
    margin-right: auto;
}

#pvp {
    width: 150px;
    height: 40px;
    float: left;
}

#pve {
    width: 150px;
    height: 40px;
    float: right;
}

#facilDificil {
    visibility: hidden;
    width: 500px;
    height: 60px;
    float: right;
}

#botonPveFacil,
#botonPveDificil {
    width: 150px;
    height: 40px;
    float: right;
}

#progress {
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
}

.inicio {
    width: 0%;
}

.final {
    width: 100%;
}

.animacion {
    transition: all 2s ease .5s;
}

#cuadro {
    visibility: hidden;
    display: grid;
    margin: auto;
    width: 450px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#cuadro>button {
    width: 150px;
    height: 150px;
    max-width: 33.33%;
    font-size: 8em;
}

#reinicio {
    visibility: hidden;
    display: grid;
    margin: auto;
    width: 200px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#reinicio>button {
    width: 200px;
    height: 40px;
}

h2 {
    text-align: center;
    font-size: 25px;
}

h2>i.fa-trophy {
    font-size: 25px;
    color: black;
}

#vencedor {
    visibility: hidden;
    color: red;
}